<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共享页面顶部页面,include导入使用</title>
    <style>
        nav{
            text-align: left;
        }
        a{
            margin-left: 20px;
            font-size: 25px;
            cursor: pointer;
        }
        nav>a:hover{
            color: blue;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a>首页</a>
            <a>网页</a>
            <a>贴吧</a>
            <a>图片</a>
            <a>文库</a>
            <a>知道</a>
            <a>咨询</a>
            <a>地图</a>
            <a>采购</a>
            <a>更多</a>
        </nav>
    </header>
</body>
</html>